<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="2f909005-1410-49db-88c4-ec448abbf416"
            Publisher="CN=Giovanni"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MultasSociais.WinStoreApp</DisplayName>
    <PublisherDisplayName>Giovanni</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MultasSociais.WinStoreApp.App">
        <VisualElements
            DisplayName="MultasSociais.WinStoreApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="MultasSociais.WinStoreApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>