<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Lambda3.MultasSociais" Publisher="CN=B9B97D75-0150-4609-BF6A-1E0E35E664C8" Version="1.0.0.1" />
  <Properties>
    <DisplayName>Multas Sociais</DisplayName>
    <PublisherDisplayName>Lambda3</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="pt-br" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MultasSociais.WinStoreApp.App">
      <VisualElements DisplayName="Multas Sociais" Logo="Assets\logo.png" SmallLogo="Assets\SmallLogo.png" Description="O Multas Sociais é um site com fins estritamente educacionais e de conscientização da população. As multas sociais criadas aqui são fictícias. Este site ou a aplicação não possuem nenhum vínculo com os órgãos oficiais de controle de infrações de trânsito ou nenhum departamento governamental. Políticas de uso e privacidade: https://github.com/giggio/multassociais-windowsapps/blob/master/README.md" ForegroundText="light" BackgroundColor="#FF991B">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\logo-invertido-wide.png" ShortName="Multas Sociais" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FF991B" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.png</FileType>
              <FileType>.jpeg</FileType>
              <FileType>.jpg</FileType>
              <FileType>.gif</FileType>
              <FileType>.bmp</FileType>
            </SupportedFileTypes>
            <DataFormat>Bitmap</DataFormat>
            <DataFormat>StorageItems</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>